{{> head }}


    {{> navbar}}

<div class="row">
	<div class="col-7">
		<h1>El Paraiso </h1>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, accusantium.</p>
	</div>
	<div class="col-5">
		<img class="img-thumbnail" src="assets/img/paraiso.jpg" alt="">
	</div>
</div>
	{{> footer}}